{% extends "pgaweb/page.html" %}

{% block title %}Development Resources{% endblock %}

{% block content %}
<h1>Development Resources</h1>

<h2 id="git">GIT access</h2>

<p>pgAdmin is available subject to the terms of the <a href="{% url 'licence' %}">licence</a>. pgAdmin is developed using a
    number of GIT repositories to hold the source code. Access to the repository is available through a
    <a href="https://git.postgresql.org/gitweb/?p=pgadmin4.git">web interface</a> or using your favourite GIT
    client.</p>

<p>To checkout the source from the command line and get started, you might use commands such as shown below on a Linux
    or Unix system. For further details, please see the <a href="{% url 'download_index' %}pgadmin-4-source-code/">source code</a> build
    instructions.</p>

<pre>
git clone git://git.postgresql.org/git/pgadmin4.git
cd pgadmin4
more README
</pre>

<h2 id="list">Mailing List</h2>

<p>The pgadmin-hackers mailing list is intended for developers who wish to contribute to pgAdmin project. You are more
    than welcome to subscribe, but please remember to use <a href="{% url 'support_list' %}">pgadmin-support</a> list for end
    user support issues.</p>

<p>To manage your subscription to the mailing list, including subscribing and unsubscribing, visit the <a
        href="https://lists.postgresql.org/manage/">PGLister Management</a> web interface.</p>

<p>To unsubscribe quickly you can also send an email to: <a href="mailto:pgadmin-hackers-unsubscribe@lists.postgresql.org">
    pgadmin-hackers-unsubscribe@lists.postgresql.org</a>.</p>

<p>Messages sent to the list are publicly and permanently archived at the
    <a href="http://archives.postgresql.org/pgadmin-hackers/">PostgreSQL Archives</a>.</p>

<h2 id="todo">TODO List</h2>

<p>The TODO list is a list of features that are planned or have been requested for inclusion in a future version of
    pgAdmin. As pgAdmin is a volunteer project, there is no guarantee that any feature will be implemented in any
    particular release, but where we expect or aim to do so, the feature will be tagged with a target version.</p>

<p>You can view the <a href="https://redmine.postgresql.org/projects/pgadmin4/issues?query_id=19">TODO list</a> on the
    pgAdmin 4 <a href="https://redmine.postgresql.org/projects/pgadmin4">Redmine project</a>.</p>

<h2 id="changelog">Change Log</h2>

<p>The change log is a record of the notable changes made to pgAdmin by the various developers. It is a manually
    maintained list, and as such may not include details of every minor change that has ever been made. If you need that
    level of detail, please check the commit messages in the GIT repository.</p>

<p>You can view the <a href="https://redmine.postgresql.org/projects/pgadmin4/roadmap?utf8=%E2%9C%93&tracker_ids%5B%5D=1&tracker_ids%5B%5D=2&completed=1">change log</a>
    on the pgAdmin 4 <a href="https://redmine.postgresql.org/projects/pgadmin4">Redmine project</a>.</p>
{% endblock %}