{% extends "pgaweb/page.html" %}

{% block title %}Support Mailing List{% endblock %}

{% block content %}
<h1>Support Mailing List</h1>

<p>The pgadmin-support@lists.postgresql.org mailing list is intended for end 
    user support. If you believe you have found a bug please log it on the 
    <a href="{% url 'support_issues' %}">issue tracker</a>, but you are 
    welcome to confirm it on the mailing list first if you are unsure.<p>

<h2>List Subscriptions</h2>

<p>To manage your subscription to the mailing list, including subscribing and
    unsubscribing, visit the <a href="https://lists.postgresql.org/manage/">PGLister
        Management</a> web interface.</p>

<p>To unsubscribe quickly you can also send an email to:
    <a href="mailto:pgadmin-support-unsubscribe@lists.postgresql.org">
    pgadmin-support-unsubscribe@lists.postgresql.org</a>.</p>

<h2>List Archives</h2>

<p>Messages sent to the list are archived publicly and permanently at the
    <a href="http://archives.postgresql.org/pgadmin-support/">PostgreSQL Archives</a>.</p>

<h2>Private Messages</h2>

<p>Please <b>do not</b> send an email directly to one of the developers; they
    might miss it, or might not be the correct person at all. Using the mailing list
    helps ensure that your request isn't lost and will be answered in a timely
    fashion.</p>
{% endblock %}