.chip-container {
  margin-bottom: 10px;
  margin-top: 15px;
}

@import "styleguide/github";
@import 'styleguide/pgadmin.resources.scss';
@import "styleguide/alert";


.chip-text-fg {
  color: $color-fg;
  background-color: $color-bg;
  border: 1px solid $color-gray-white;
}

.chip-text-fg-inverse {
  color: $color-fg-inverse;
  background-color: $color-bg-inverse;
}

.chip-editor-bg {
  background-color: $color-bg;
  border: 1px solid $color-gray-white;
}

.chip-editor-keyword {
  background-color: $color-editor-keyword;
  color: $color-fg-inverse;
}

.chip-editor-number {
  background-color: $color-editor-number;
  color: $color-fg-inverse;
}

.chip-editor-foldmarker {
  background-color: $color-editor-foldmarker;
  color: $color-fg-inverse;
}

.chip-editor-activeline {
  background-color: $color-editor-foldmarker;
  color: $color-fg-inverse;
}


.page-container {
  .navbar {

    li.current-page {
      border: 3px solid $color-primary;
      border-radius: 5px;

      a {
        padding-bottom: 14px;
      }
    }

    li {
      height: 41px;
      border: 3px solid transparent;

      a {
        line-height: 6px;
        font-weight: 500;
      }
    }
  }

  .styleguide {
    .codeBlock pre {
      border-radius: 0;
      display: block;
      padding: 9.5px;
      margin: 20px 0 10px;
      font-size: 13px;
      line-height: 1.42857143;
      color: #333;
      word-break: break-all;
      word-wrap: break-word;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
    }

    .row {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .font-white {
      color: #ffffff;
    }
  }
}