.chip-container {
  margin-bottom: 10px;
  margin-top: 15px;
}

@import "styleguide/github";
@import "styleguide/pgadmin.resources.scss";
@import "styleguide/_pgadmin.style.scss";
@import "styleguide/alert";

.chip-gray {
  background-color: $color-gray;

  &-lighter {
    background-color: $color-gray-lighter;
  }
  &-light {
    background-color: $color-gray-light;
  }
  &-dark {
    background-color: $color-gray-dark;
  }
  &-darker {
    background-color: $color-gray-darker;
  }
}

.chip-bg-theme {
  background: $color-bg-theme;
  color: $color-fg-theme;
}

.chip-fg-theme {
  background: $color-fg-theme;
  color: $color-bg-theme;
}

.chip-editor-bg {
  background-color: $color-editor-bg;
  border: 1px solid $color-gray-lighter;
}

.chip-editor-keyword {
  background-color: $color-editor-keyword;
  color: $white;
}

.chip-editor-number {
  background-color: $color-editor-number;
  color: $white;
}

.chip-editor-foldmarker {
  background-color: $color-editor-foldmarker;
  color: $white;
}

.chip-editor-activeline {
  background-color: $color-editor-foldmarker;
  color: $white;
}

.chip-border-color {
  background-color: $border-color;
}

.chip-table-hover-border {
  background-color: $table-hover-border-color;
}

.page-container {
  .navbar {
    li.current-page {
      border: 3px solid $color-primary;
      border-radius: 5px;

      a {
        padding-bottom: 14px;
      }
    }

    li {
      height: 41px;
      border: 3px solid transparent;

      a {
        line-height: 6px;
        font-weight: 500;
      }
    }
  }

  .styleguide {
    .codeBlock pre {
      border-radius: 0;
      display: block;
      padding: 9.5px;
      margin: 20px 0 10px;
      font-size: 13px;
      line-height: 1.42857143;
      color: #333;
      word-break: break-all;
      word-wrap: break-word;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
    }

    .row {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .font-white {
      color: #ffffff;
    }
  }
}

.ajs-message {
  border-radius: $border-radius;
  padding: 0.75rem 1.25rem;
  display: inline-block;

  .ajs-icon {
    margin-right: 1.25rem;
  }
}

.ajs-message.ajs-error.ajs-visible {
  background: $color-danger-lighter;
  border: $border-width solid $color-danger;
}

.ajs-message.ajs-success.ajs-visible {
  background: $color-success-light;
  border: $border-width solid $color-success;
}

.ajs-message.ajs-visible {
  background: $color-primary-light;
  border: $border-width solid $color-primary;
}
