{% extends "pgaweb/styleguide/base.html" %}

{% block styleguide-page %}
  <h2 class="styleguide-title">Alerts</h2>
  <p>
    Use alerts to provide feedback to the user or call
    attention to important information the user should know.
  </p>

  <p>
    <b>Note: </b>Javascript functions exist for displaying most common alerts, avoiding the need to
    manually style them in most cases.
  </p>

    <!-- return alertify.orig_success(alertMessage, timeout, callback);
  },
  error: function(message, timeout, callback) {
    var alertMessage =
    `<div class="d-flex px-3 py-2">
      <div class="pr-2">
        <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
      </div>
      <div class="text-body">${message}</div>
    </div>`;
    return alertify.orig_error(alertMessage, timeout, callback);
  },
  info: function(message, timeout) {
    var alertMessage =
    `<div class="d-flex px-3 py-2">
      <div class="mr-3">
        <i class="fa fa-info text-primary" aria-hidden="true"></i>
      </div>
      <div class="text-body">${message}</div> -->
  <h3>Success alert</h3>
  <div class="alert-row">
    <div class="ajs-message ajs-success ajs-visible">
        <div class="ajs-body">
            <span class="ajs-icon">
              <i class="fa fa-check text-success" aria-hidden="true"></i>
            </span>
            <span class="text-body">Successfully run. Total query runtime: 32 msec. 1 row retrieved</span>
        </div>
    </div>
  </div>
  <p>Use this to provide feedback on an event that happened correctly</p>

  <h3>Error alert</h3>
  <div class="alert-row">
    <div class="ajs-message ajs-error ajs-visible">
        <div class="ajs-body">
            <span class="ajs-icon">
              <i class="fa fa-times text-danger" aria-hidden="true"></i>
            </span>
            <span class="text-body">Error retrieving properties - INTERNAL SERVER ERROR</span>
        </div>
    </div>
  </div>
  <p>Use this to provide feedback that something went wrong:</p>

  <h3>Info alert</h3>
  <div class="alert-row">
    <div class="ajs-message ajs-visible">
        <div class="ajs-body">
            <span class="ajs-icon">
              <i class="fa fa-info text-primary" aria-hidden="true"></i>
            </span>
            <span class="text-body">This is a neutral message</span>
        </div>
    </div>
  </div>
  <p>
    Use this for non urgent info that users should know.
    Links can also be placed within the banner if needed.
  </p>
{% endblock %}