{% extends "pgaweb/styleguide/base.html" %}

{% block styleguide-page %}
  <h2 class="styleguide-title">Alerts</h2>
  <p>
    Use alerts to provide feedback to the user or call
    attention to important information the user should know.
  </p>

  <p>
    <b>Note: </b>Javascript functions exist for displaying most common alerts, avoiding the need to
    manually style them in most cases.
  </p>

  <h3>Success alert</h3>
  <div class="alert-row">
    <div class="alert alert-success border-green-2 font-green-3 text-14 alert-box">
      <div class="media">
        <div class="media-body media-middle">
          <div class="alert-icon success-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="alert-text"> Successfully run. Total query runtime: 32 msec. 1 row retrieved</div>
        </div>
      </div>
    </div>
  </div>
  <p>Use this to provide feedback on an event that happened correctly:</p>

  <div class="codeBlock">
    <div class="highlight">
      <pre>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-row"</span><span
          class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-success border-green-2 font-green-3 text-14 alert-box"</span><span
          class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media"</span><span
          class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span
          class="s">"media-body media-middle"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span
          class="s">"alert-icon success-icon"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"fa fa-check"</span> <span
          class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/i&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-text"</span><span
          class="nt">&gt;</span>
          Successfully run. Total query runtime: 32 msec. 1 row retrieved
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>

  <h3>Error alert</h3>
  <div class="alert-row">
    <div class="alert alert-danger border-red-2 font-red-3 text-14 alert-box">
      <div class="media">
        <div class="media-body media-middle">
          <div class="alert-icon error-icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
          <div class="alert-text">
            Error retrieving properties - INTERNAL SERVER ERROR
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Use this to provide feedback that something went wrong:</p>

  <div class="codeBlock">
    <div class="highlight">
      <pre>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-row"</span><span
          class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-danger border-red-2 font-red-3 text-14 alert-box"</span><span
          class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media"</span><span
          class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span
          class="s">"media-body media-middle"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span
          class="s">"alert-icon error-icon"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;i</span> <span class="na">class=</span><span
          class="s">"fa fa-exclamation-triangle"</span> <span class="na">aria-hidden=</span><span
          class="s">"true"</span><span class="nt">&gt;&lt;/i&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-text"</span><span
          class="nt">&gt;</span>
          Error retrieving properties - INTERNAL SERVER ERROR
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>

  <h3>Info alert</h3>
  <div class="alert-row">
    <div class="alert alert-info border-blue-2 font-primary-blue text-14 alert-box">
      <div class="media">
        <div class="media-body media-middle">
          <div class="alert-text">
            This is a neutral message
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
    Use this for non urgent info that users should know.
    Links can also be placed within the banner if needed.
  </p>

  <div class="codeBlock">
    <div class="highlight">
      <pre>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-row"</span><span
          class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-info border-blue-2 font-primary-blue text-14 alert-box"</span><span
          class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media"</span><span
          class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span
          class="s">"media-body media-middle"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-text"</span><span
          class="nt">&gt;</span>
          This is a neutral message
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>

  <h3>Small alerts</h3>
  <div class="pg-prop-status-bar">
    <div class="success-in-footer alert-success border-green-2 font-green-3 text-14 alert-box">
      <div class="media">
        <div class="media-body media-middle">
          <div class="alert-icon success-icon">
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <div class="alert-text">
            Successfully run. Total query runtime: 32 msec. 1 row retrieved
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pg-prop-status-bar">
    <div class="error-in-footer alert-danger border-red-2 font-red-3 text-14 alert-box">
      <div class="media">
        <div class="media-body media-middle">
          <div class="alert-icon error-icon">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          </div>
          <div class="alert-text">
            Error retrieving properties - INTERNAL SERVER ERROR
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pg-prop-status-bar">
    <div class="info-in-footer alert-info border-blue-2 font-primary-blue text-14 alert-box">
      <div class="media">
        <div class="media-body media-middle">
          <div class="alert-text">
            This is a neutral message
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>

  <div class="codeBlock">
    <div class="highlight">
      <pre><span class="nt">&lt;div</span> <span class="na">class=</span><span
          class="s">"pg-prop-status-bar"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"success-in-footer alert-success border-green-2 font-green-3 text-14 alert-box"</span><span
            class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media"</span><span
            class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span
            class="s">"media-body media-middle"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span
            class="s">"alert-icon success-icon"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"fa fa-check"</span> <span
            class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/i&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-text"</span><span
            class="nt">&gt;</span>
          Successfully run. Total query runtime: 32 msec. 1 row retrieved
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pg-prop-status-bar"</span><span
            class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"error-in-footer alert-danger border-red-2 font-red-3 text-14 alert-box"</span><span
            class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media"</span><span
            class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span
            class="s">"media-body media-middle"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span
            class="s">"alert-icon error-icon"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;i</span> <span class="na">class=</span><span
            class="s">"fa fa-exclamation-triangle"</span> <span class="na">aria-hidden=</span><span
            class="s">"true"</span><span class="nt">&gt;&lt;/i&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-text"</span><span
            class="nt">&gt;</span>
          Error retrieving properties - INTERNAL SERVER ERROR
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pg-prop-status-bar"</span><span
            class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"info-in-footer alert-info border-blue-2 font-primary-blue text-14 alert-box"</span><span
            class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media"</span><span
            class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span
            class="s">"media-body media-middle"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-text"</span><span
            class="nt">&gt;</span>
          This is a neutral message
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></pre>
    </div>
  </div>
{% endblock %}