{% extends "pgaweb/page.html" %}

{% load compile_static %}
{% load static %}

{% block title %}Style Guide{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static "css/styleguide.scss"|compile %}" />
  <h1>Style Guide</h1>

  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li>
        <a href="/styleguide/">Introduction</a>
      </li>
      <li>
        <a href="/styleguide/colors">Colors</a>
      </li>
      <li>
        <a href="/styleguide/alerts">Alerts</a>
      </li>
      <li>
        <a href="/styleguide/fonts">Fonts</a>
      </li>
      <li>
        <a href="/styleguide/othervars">Other SASS Vars</a>
      </li>
    </ul>
  </nav>

  <div class="styleguide">
    {% block styleguide-page %}{% endblock %}
  </div>

  <script language="JavaScript">

  $item = $('.page-container li a').filter(function () {
    return $(this).prop('href') == location.href;
  });
  $item.parent().addClass('current-page');
  </script>
{% endblock %}