{% extends "pgaweb/styleguide/base.html" %}

{% block styleguide-page %}
  <h2 class="styleguide-title">Colors</h2>
  <div class="styleguide-inner">
    <p class="styleguide">pgadmin4 follows naming convention similar to Bootstrap for color variables.</p>
    <p class="styleguide">The current app may have more colors than what is included here. When a color is encountered
      in the app that is not documented here, default to replacing that color with one that is documented here.</p>
    <p class="styleguide">Each color listed on this page can be used for Background, Text, and Border. Pre-pend each
      class name with <strong>.bg-</strong> or <strong>.text-</strong> or <strong>.border-</strong> to use as background
      or border.</p>
    <h5>
      <i>Example:</i>
    </h5>

    <div>
      To use a background color use the class:
    </div>
    <div class="codeBlock">
      <div class="highlight">
        <pre>bg-primary</pre>
      </div>
    </div>

    <div>
      To use a border color use the class:
    </div>
    <div class="codeBlock">
      <div class="highlight">
        <pre>border-primary</pre>
      </div>
    </div>

    <div>
      To use a text color use the class:
    </div>
    <div class="codeBlock">
      <div class="highlight">
        <pre>text-primary</pre>
      </div>
    </div>

    <h3 id="colors-primaryblue" class="styleguide">Color variables</h3>
    <p class="styleguide">These colors should be used in the SCSS files. The name of the colors suggests where to use the variable. The primary color should be used to call attention to the main part of the app. Use sparingly.</p>

    <div class="row">
      <div class="col-md-2 chip-container">
        <div class="color-chip bg-primary-lighter">
          primary-lighter
        </div>
        $color-primary-lighter<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-primary-light">
          primary-light
        </div>
        $color-primary-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-primary font-white">
          primary
        </div>
        $color-primary<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-primary-dark font-white">
          primary-dark
        </div>
        $color-primary-dark<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-primary-darker font-white">
          primary-darker
        </div>
        $color-primary-darker<br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 chip-container">
        <div class="color-chip bg-danger-lighter">
          danger-lighter
        </div>
        $color-danger-lighter<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-danger-light">
          danger-light
        </div>
        $color-danger-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-danger font-white">
          danger
        </div>
        $color-danger<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-danger-dark font-white">
          danger-dark
        </div>
        $color-danger-dark<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-danger-darker font-white">
          danger-darker
        </div>
        $color-danger-darker<br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 chip-container">
        <div class="color-chip bg-success-lighter">
          success-lighter
        </div>
        $color-success-lighter<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-success-light">
          success-light
        </div>
        $color-success-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-success font-white">
          success
        </div>
        $color-success<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-success-dark font-white">
          success-dark
        </div>
        $color-success-dark<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-success-darker font-white">
          success-darker
        </div>
        $color-success-darker<br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 chip-container">
        <div class="color-chip bg-warning-lighter">
          warning-lighter
        </div>
        $color-warning-lighter<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-warning-light">
          warning-light
        </div>
        $color-warning-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-warning font-white">
          warning
        </div>
        $color-warning<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-warning-dark font-white">
          warning-dark
        </div>
        $color-warning-dark<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-warning-darker font-white">
          warning-darker
        </div>
        $color-warning-darker<br/>
      </div>
    </div>
    <h3 id="Grays" class="styleguide">Grays</h3>
    <p class="styleguide">For text, avoid using black or #000 to lower the contrast between the background and text.</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray-white">
          gray-white
        </div>
        $color-gray-white<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray-lighter">
          gray-lighter
        </div>
        $color-gray-lighter<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray-light">
          gray-light
        </div>
        $color-gray-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray font-white">
          gray
        </div>
        $color-gray<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray-dark font-white">
          gray-dark
        </div>
        $color-gray-dark<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray-darker font-white">
          gray-darker
        </div>
        $color-gray-darker<br/>
      </div>
    </div>

    <h3 id="z-othercolors" class="styleguide">Others</h3>
    <p class="styleguide">Use these variables for foreground and background colors instead of white and black respectively. This will help in switching the colors easily if planned for a dark theme.</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-text-fg">
          bg
        </div>
        $color-bg<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-text-fg-inverse">
          bg-inverse
        </div>
        $color-bg-inverse<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-text-fg-inverse">
          fg
        </div>
        $color-fg<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-text-fg">
          fg-inverse
        </div>
        $color-fg-inverse<br/>
      </div>
    </div>

    <h3 id="z-othercolors" class="styleguide">SQL editor</h3>
    <p class="styleguide">These are the color variables used by SQL editor</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-editor-bg">
          bg
        </div>
        $color-editor-bg<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-editor-keyword">
          keyword
        </div>
        $color-editor-keyword<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-editor-number">
          number
        </div>
        $color-editor-number<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-editor-foldmarker">
          foldmarker
        </div>
        $color-editor-foldmarker<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-editor-activeline">
          activeline
        </div>
        $color-editor-activeline<br/>
      </div>
    </div>
  </div>
{% endblock %}