{% extends "pgaweb/styleguide/base.html" %}

{% block styleguide-page %}
  <h2 class="styleguide-title">Colors</h2>
  <div class="styleguide-inner">
    <p class="styleguide">pgAdmin styling, colors and usage of colors has been changed since version 4.0 largely to improve the consistency, user experience and ease of development</p>
    <p class="styleguide">The app uses fixed set of colors throughout to give uniform look and feel across different dialogs, controls and tools.</p>
    <p class="styleguide">Colors listed on this page are used for specific purpose. Class names starting with
      <strong>.bg-</strong> or <strong>.text-</strong> or <strong>.border-</strong> are defined for quick use, but not to be used out of the theme 
      on which pgAdmin is build.</p>
    <h5>
      <i>Example:</i>
    </h5>

    <div>
      To use a background color use the class:
    </div>
    <div class="codeBlock">
      <div class="highlight">
        <pre>bg-primary</pre>
      </div>
    </div>

    <div>
      To use a border color use the class:
    </div>
    <div class="codeBlock">
      <div class="highlight">
        <pre>border-primary</pre>
      </div>
    </div>

    <div>
      To use a text color use the class:
    </div>
    <div class="codeBlock">
      <div class="highlight">
        <pre>text-primary</pre>
      </div>
    </div>

    <h3 id="colors-primaryblue" class="styleguide">Color variables</h3>
    <p class="styleguide">The colors used by pgAdmin are described in this section. pgAdmin majorly uses three colors namely primary, secondary and gray. 
      There are few more colors which are used based on the specific context. To make the application more customizable, variables are defined specific to 
      modules and takes values from the standard available colors. These variables should be used in the SCSS files and if required new variables can be added 
      based on the module requirements, but the values should be taken from the available colors. Please note, all the required colors are defined and there
      is no need to add any new colors.</p>
    <p>Available colors are:</p>
    <p>The primary color should be used to call attention to the main part of the app. Use sparingly.</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-primary-light">
          primary-light
        </div>
        $color-primary-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-primary font-white">
          primary
        </div>
        $color-primary<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-primary-dark font-white">
          primary-dark
        </div>
        $color-primary-dark<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip border-gray-lighter">
          primary-fg
        </div>
        $color-primary-fg<br/>
      </div>
    </div>
    <p>Secondary color is used in places like secondary buttons (Cancel, Next, etc.), toolbar buttons apart from the primary use buttons.</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-secondary border-gray-lighter">
          secondary
        </div>
        $color-secondary<br/>
      </div>
    </div>
    <p>Danger color is used to highlight errors and failures</p>
    <div class="row">
      <div class="col-md-2 chip-container">
        <div class="color-chip bg-danger-lighter">
          danger-lighter
        </div>
        $color-danger-lighter<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-danger-light">
          danger-light
        </div>
        $color-danger-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-danger font-white">
          danger
        </div>
        $color-danger<br/>
      </div>
    </div>
    <p>Success colors are used to highlight success and completions</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-success-light">
          success-light
        </div>
        $color-success-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-success font-white">
          success
        </div>
        $color-success<br/>
      </div>
    </div>
    <p>Warning colors are used to give informative warnings</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-warning-light">
          warning-light
        </div>
        $color-warning-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-warning font-white">
          warning
        </div>
        $color-warning<br/>
      </div>
    </div>
    <h3 id="Grays" class="styleguide">Grays</h3>
    <p class="styleguide">Grays should be used for borders, negative/empty spaces, disabled texts only. They are generally used for framing the controls.</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray-lighter">
          gray-lighter
        </div>
        $color-gray-lighter<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray-light">
          gray-light
        </div>
        $color-gray-light<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray font-white">
          gray
        </div>
        $color-gray<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray-dark font-white">
          gray-dark
        </div>
        $color-gray-dark<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip bg-gray-darker font-white">
          gray-darker
        </div>
        $color-gray-darker<br/>
      </div>
    </div>

    <h3 id="z-othercolors" class="styleguide">Others</h3>
    <p class="styleguide">Use these variables for foreground and background colors instead of white and black respectively. This will help in switching the colors easily if planned for a dark theme.</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-bg-theme">
          bg-theme
        </div>
        $color-bg-theme<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-fg-theme">
          fg-theme
        </div>
        $color-fg-theme<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-border-color">
          border-color
        </div>
        $border-color<br/>
      </div>
    </div>

    <h3 id="z-othercolors" class="styleguide">SQL editor</h3>
    <p class="styleguide">These are the color variables used by SQL editor</p>
    <div class="row">
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-editor-bg">
          bg
        </div>
        $color-editor-bg<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-editor-keyword">
          keyword
        </div>
        $color-editor-keyword<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-editor-foldmarker">
          foldmarker
        </div>
        $color-editor-foldmarker<br/>
      </div>
      <div class="col-xs-6 col-md-2 chip-container">
        <div class="color-chip chip-editor-activeline">
          activeline
        </div>
        $color-editor-activeline<br/>
      </div>
    </div>
  </div>
{% endblock %}