{% extends "pgaweb/page.html" %}
{% load static %}

{% block content %}
    <div class="style-action">
        {% if page == "typography" %}
            {% include "pgaweb/styleguide/style_action.html" %}
        {% elif page == "themes" %}
            {% include "pgaweb/styleguide/style_action_theme.html" %}
        {% elif page == "iconography" %}
            {% include "pgaweb/styleguide/iconography/style_iconography_theme.html" %}
        {% endif %}
    </div>
    <div class="style-guide">
        <link rel="stylesheet"
              href="{% static 'COMPILED/assets/css/styleguide.css' %}?{{ gitrev }}"/>
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}
