{% extends "pgaweb/styleguide/base.html" %}

{% block styleguide-page %}
  <h2 class="styleguide-title">Other SASS variables</h2>
  <div class="styleguide-inner">
    <p>pgAdmin uses SASS/SCSS variables across the application and transpiles
      SCSS code to CSS when bundled. This makes customizing style easier and
      global. These variables must be used wherever applicable when developing
      new style codes.
    </p>
    <p>All the SCSS variables used in pgAdmin are viewable
      <a href="https://git.postgresql.org/gitweb/?p=pgadmin4.git;a=blob;f=web/pgadmin/static/scss/resources/_default.variables.scss" target="_blank">here</a>.
    </p>
  </div>
{% endblock %}