<div class="well style-header">
    <h2>Contents</h2>

    <ul class="style-action-menu">
        <li><a href="{% url 'styleguide_index' page='typography' %}">Typography</a></li>
        <li><a href="{% url 'styleguide_index' page='themes' section='color' %}">Themes</a>
            <ul>
                <li><a href="{% url 'styleguide_index' page='themes' section='color' %}">Color
                    Palette</a></li>
                <li><a href="{% url 'styleguide_index' page='themes' section='input' %}">Input
                    Field</a></li>
                <li><a href="{% url 'styleguide_index' page='themes' section='dropdowns' %}">Dropdowns</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='buttons' %}">Buttons</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='checkbox' %}">Checkbox</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='radio_buttons' %}">Radio
                    Buttons</a></li>
                <li><a href="{% url 'styleguide_index' page='themes' section='toggle_buttons' %}">Toggle
                    Buttons</a></li>
                <li><a href="{% url 'styleguide_index' page='themes' section='alerts' %}">Alerts</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='table' %}">Table</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='accordion' %}">Accordion</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='menus' %}">Menu</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='tab_sets' %}">Tab
                    Set</a></li>
            </ul>
        </li>
        <li><a href="{% url 'styleguide_index' page='iconography' section='fontawesome' %}">Iconography</a></li>
    </ul>
</div>
