<h1 class="styleguide-title" id="typography">Typography</h1>
<p>
    pgAdmin primarily uses Google Roboto for the overall content and Source Code
    Pro is used for SQL and other code.
    The arrangement of type involves selecting typefaces, point sizes, line
    lengths, line-spacing, and letter-spacing,
    and adjusting the space between pairs of letters.
</p>

<div class="typography-font-sect">
    <p class="typg-style-section">
        <span class="typg-font-normal">Aa</span>
    </p>
    <p class="typg-style-section">
        <span class="typg-font-bold">Aa</span>
    </p>

    <p class="typg-font-normal-sample">
        <span>Roboto Regular</span><br/>
        <span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span><br/>
        <span>abcdefghijklmnopqrstuvwxyz</span><br/>
        <span>0123456789</span><br/>
    </p>

    <p class="typg-font-bold-sample">
        <span>Roboto Regular</span><br/>
        <span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span><br/>
        <span>abcdefghijklmnopqrstuvwxyz</span><br/>
        <span>0123456789</span><br/>
    </p>
</div>
<div class="typography-font-sect font-family-desc">
        <span>
            <span class="font-family-color">$font-family-primary:</span> "Roboto", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        </span>
    <br/>
    <br/>
    <span>
            <span class="font-family-color">$font-family-editor:</span> "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        </span>
</div>
<div class="font-size-sect">
    <p>Font Size</p>
    <div class="typography-font-sect font-size-style">
        <pre class="font-size-16-style">16px<span class="tab-16px">Lorem ipsum is dummy text.</span></pre>
        <pre class="font-size-14-style">14px<span class="tab-14px">Lorem ipsum is dummy text.</span></pre>
        <pre class="font-size-13-style">13px<span class="tab-13px">Lorem ipsum is dummy text.</span></pre>
    </div>
</div>