<div class="well style-header">
    <h2>Contents</h2>

    <ul class="style-action-menu">
        <li><a href="{% url 'styleguide_index' page='typography' %}">Typography</a></li>
        <li><a href="{% url 'styleguide_index' page='themes' section='color_palettes' %}">Themes</a>
            <ul>
                <li><a href="{% url 'styleguide_index' page='themes' section='color_palettes' %}">Color
                    Palettes</a></li>
                <li><a href="{% url 'styleguide_index' page='themes' section='input_fields' %}">Input
                    Fields</a></li>
                <li><a href="{% url 'styleguide_index' page='themes' section='dropdowns' %}">Dropdowns</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='buttons' %}">Buttons</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='checkboxes' %}">Checkboxes</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='radio_buttons' %}">Radio
                    Buttons</a></li>
                <li><a href="{% url 'styleguide_index' page='themes' section='toggle_buttons' %}">Toggle
                    Buttons</a></li>
                <li><a href="{% url 'styleguide_index' page='themes' section='alerts' %}">Alerts</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='tables' %}">Tables</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='accordions' %}">Accordions</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='menus' %}">Menus</a>
                </li>
                <li><a href="{% url 'styleguide_index' page='themes' section='tab_sets' %}">Tab
                    Sets</a></li>
            </ul>
        </li>
        <li><a href="{% url 'styleguide_index' page='iconography' section='fontawesome' %}">Iconography</a></li>
    </ul>
</div>
