<p class="color-header">Default</p>
<div class="component-container">
    <div class="hc-container-header">
        {% load static %}
        <img class="hc-accordion-style"
             src="{% static "img/style_guide/accordion_hc_default.png" %}"
             alt="Default Accordion."/>
    </div>
    <div class="container-body">
        <div class="code">
            <span class="code-tag">&lt;div</span> <span class="code-attribute">class=</span>“accordian-group
            pg-el-12”<span class="code-tag">&gt;
            <br/>&emsp;&lt;div</span> <span class="code-attribute">class=</span>“badge”
            <span class="code-attribute">data-toggle=</span>“collapse” <span
                class="code-attribute">
                data-target=</span>“#pgC_1035" <span class="code-attribute">aria-controls=</span>“pgC_1035”
            <span class="code-attribute">aria-level=</span>“3" <span
                class="code-attribute">role=</span>“heading”<span
                class="code-tag">&gt;...&lt;/div&gt;
            <br/>&emsp;&lt;div</span> <span class="code-attribute">id=</span>“pgC_1035”
            <span class="code-attribute">class=</span>“accordian-content
            pg-el-12 collapse show”<span class="code-tag">&gt;
                ...&lt;/div&gt;
            <br/>&lt;/div&gt;</span>
        </div>
    </div>
</div>

<p class="color-header">Expand</p>
<div class="component-container">
    <div class="hc-acc-container-header-expand">
        {% load static %}
        <img class="hc-accordion-style"
             src="{% static "img/style_guide/accordion_hc_expand.png" %}"
             alt="Expand Accordion."/>
    </div>
    <div class="container-body">
        <div class="code">
            <span class="code-tag">&lt;div</span> <span class="code-attribute">class=</span>“accordian-group
            pg-el-12”<span class="code-tag">&gt;
            <br/>&emsp;&lt;div</span> <span class="code-attribute">class=</span>“badge”
            <span class="code-attribute">data-toggle=</span>“collapse” <span
                class="code-attribute">data-target=</span>“#pgC_1035"
            <span class="code-attribute">aria-controls=</span>“pgC_1035”
            <span class="code-attribute">aria-level=</span>“3" <span
                class="code-attribute">role=</span>“heading”<span
                class="code-tag">&gt;...&lt;/div&gt;
            <br/>&emsp;&lt;div</span> <span class="code-attribute">id=</span>“pgC_1035”
            <span class="code-attribute">class=</span>“accordian-content
            pg-el-12 collapse show”<span class="code-tag">&gt;
                ...&lt;/div&gt;
            <br/>&lt;/div&gt;</span>
        </div>
    </div>
</div>
