{% extends "pgaweb/page.html" %}
{% load staticfiles %}

{% block title %}Search pgAdmin Docs{% endblock %}

{% block content %}
<h1>Search pgAdmin Docs</h1>

<div class="search alert alert-secondary" role="alert">
  <form class="form-inline form-advanced-search justify-content-center" action="{% url 'search' %}" method="get">
    <label class="sr-only" for="q">Search terms</label>
    <input type="text" value="{{ request.GET.q }}" class="form-control mb-2 mr-sm-3" id="q" name="q" placeholder="Search terms">

    <label class="sr-only" for="v">Version</label>
    <div id="version_select" class="input-group mb-2 mr-sm-2">
      <select class="custom-select mr-sm-2" id="v" name="v">
        <option value="">Latest package versions</option>
        {% for doc in docs %}
        <option {% ifequal request.GET.v|slugify doc.version.id|slugify %}selected {% endifequal %}value="{{ doc.version.id }}">{{ doc.version.package.name }} {{ doc.version.name }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-outline-primary mb-2"><span class="fa fa-search fa-lg" aria-hidden="true"></span></button>
  </form>
</div>

{% if results %}
<p>Results {{ first }} to {{ last }} of {% if results|length == 25 %}more than {% endif %}{{ last }}:</p>

<ol start="{{ first }}">
{% for result in results|slice:":26" %}
  <li><a href="{% url 'page' result.package result.version_slug result.file %}" title="Search rank: {{ result.rank }}">{{ result.title|safe }}</a><br />
    {{ result.headline|safe }}<br />&nbsp;</li>
{% endfor %}
</ol>

<div class="text-center">
    {% if first > 1 %}<a href="?&q={{ request.GET.q }}&v={{ request.GET.v }}&pg=1">{% endif %}first{% if first > 1 %}</a>{% endif %} |
    {% if first > 1 %}<a href="?&q={{ request.GET.q }}&v={{ request.GET.v }}&pg={{ page|add:"-1" }}">{% endif %}previous{% if first > 1 %}</a>{% endif %} |
    {% if results|length == 25 %}<a href="?&q={{ request.GET.q }}&v={{ request.GET.v }}&pg={{ page|add:"1" }}">{% endif %}next{% if results|length == 25 %}</a>{% endif %}
</div>
{% else %}
{% if request.GET.q != '' %}
<p>No results found.</p>
{% else %}
<p>Please enter some search criteria and click the Search button.</p>
{% endif %}
{% endif %}
{% endblock %}
