{% extends "pgaweb/page.html" %}
{% load static %}

{% block title %}Search pgAdmin Docs{% endblock %}

{% block content %}
<h1>Search pgAdmin Docs</h1>

<div class="search-box p-4 mb-4 rounded-3">
  <form class="d-flex flex-wrap flex-md-nowrap gap-2 align-items-center" action="{% url 'search' %}" method="get">
    <label class="visually-hidden" for="q">Search terms</label>
    <input type="text" value="{{ request.GET.q }}" class="form-control" id="q" name="q" placeholder="Search terms">

    <label class="visually-hidden" for="v">Version</label>
    <select class="form-select search-version-select" id="v" name="v">
      <option value="">Latest package versions</option>
      {% for doc in docs %}
      <option {% if request.GET.v|slugify == doc.version.id|slugify %}selected {% endif %}value="{{ doc.version.id }}">{{ doc.version.package.name }} {{ doc.version.name }}</option>
      {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary"><i class="fas fa-search" aria-hidden="true"></i></button>
  </form>
</div>

{% if results %}
<p>Results {{ first }} to {{ last }} of {% if results|length == 25 %}more than {% endif %}{{ last }}:</p>

<ol start="{{ first }}">
{% for result in results|slice:":26" %}
  <li><a href="{% url 'page' result.package result.version_slug result.file %}" title="Search rank: {{ result.rank }}">{{ result.title|safe }}</a><br />
    {{ result.headline|safe }}<br />&nbsp;</li>
{% endfor %}
</ol>

<div class="text-center">
    {% if first > 1 %}<a href="?&q={{ request.GET.q }}&v={{ request.GET.v }}&pg=1">{% endif %}first{% if first > 1 %}</a>{% endif %} |
    {% if first > 1 %}<a href="?&q={{ request.GET.q }}&v={{ request.GET.v }}&pg={{ page|add:"-1" }}">{% endif %}previous{% if first > 1 %}</a>{% endif %} |
    {% if results|length == 25 %}<a href="?&q={{ request.GET.q }}&v={{ request.GET.v }}&pg={{ page|add:"1" }}">{% endif %}next{% if results|length == 25 %}</a>{% endif %}
</div>
{% else %}
{% if request.GET.q != '' %}
<p>No results found.</p>
{% else %}
<p>Please enter some search criteria and click the Search button.</p>
{% endif %}
{% endif %}
{% endblock %}
