<div class="well pga-quicklinks">
    <h2>Quick Links</h2>

        <p><a href="{% url 'try_pgadmin' %}"><i class="fa fa-laptop fa-2x" aria-hidden="true"></i><br />Online Demo</a></p>
    <p><a href="{% url 'download_index' %}"><i class="fa fa-download fa-2x" aria-hidden="true"></i><br />Download</a></p>
    <p><a href="{% url 'faq' %}"><i class="fa fa-info fa-2x" aria-hidden="true"></i><br />FAQ</a></p>
    <p><a href="{% url 'page' 'pgadmin4' 'latest' 'index.html' %}"><i class="fa fa-book fa-2x" aria-hidden="true"></i><br />Latest Docs</a></p>
    <p><a href="{% url 'support_list' %}"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i><br />Ask a Question</a></p>
    <p><a href="https://redmine.postgresql.org/projects/pgadmin4/issues/new"><i class="fa fa-bug fa-2x" aria-hidden="true"></i><br />Report a Bug</a></p>
    <p><a href="{% url 'screenshots' %}"><i class="fa fa-desktop fa-2x" aria-hidden="true"></i><br />Screenshots</a></p>
</div>
