<div class="well pga-quicklinks">
    <h2>Quick Links</h2>
    <p><a href="https://www.katacoda.com/enterprisedb/scenarios/pgadmin-sandbox" target="_blank"><i class="fa fa-laptop fa-2x" aria-hidden="true"></i><br />Online Demo</a> <small><i class="fa fa-external-link-alt"></i></small></p>
    <p><a href="{% url 'download_index' %}"><i class="fa fa-download fa-2x" aria-hidden="true"></i><br />Download</a></p>
    <p><a href="{% url 'faq' %}"><i class="fa fa-info fa-2x" aria-hidden="true"></i><br />FAQ</a></p>
    <p><a href="{% url 'page' 'pgadmin4' 'latest' 'index.html' %}"><i class="fa fa-book fa-2x" aria-hidden="true"></i><br />Latest Docs</a></p>
    <p><a href="{% url 'support_index' %}"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i><br />Get Help</a></p>
    <p><a href="{% url 'screenshots' %}"><i class="fa fa-desktop fa-2x" aria-hidden="true"></i><br />Screenshots</a></p>
</div>
