<div aria-hidden="true">
<script type="text/plain" data-consent="targeting" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pgAdmin Responsive -->
<ins class="adsbygoogle"
     style="display:block;min-width:100px;max-width:300px;width:100%;height:600px"
     data-ad-client="ca-pub-7509009547019933"
     data-ad-slot="4114194323"
     data-ad-format="auto"></ins>
<script type="text/plain" data-consent="targeting">
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
