{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- InMobi Choice. Consent Manager Tag v3.0 (for TCF 2.2) -->
    <script type="text/javascript" async=true>
    (function() {
      var host = window.location.hostname;
      var element = document.createElement('script');
      var firstScript = document.getElementsByTagName('script')[0];
      var url = 'https://cmp.inmobi.com'
        .concat('/choice/', 'k6k9_GkQFDnFX', '/', host, '/choice.js?tag_version=V3');
      var uspTries = 0;
      var uspTriesLimit = 3;
      element.async = true;
      element.type = 'text/javascript';
      element.src = url;

      firstScript.parentNode.insertBefore(element, firstScript);

      function makeStub() {
        var TCF_LOCATOR_NAME = '__tcfapiLocator';
        var queue = [];
        var win = window;
        var cmpFrame;

        function addFrame() {
          var doc = win.document;
          var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

          if (!otherCMP) {
            if (doc.body) {
              var iframe = doc.createElement('iframe');

              iframe.style.cssText = 'display:none';
              iframe.name = TCF_LOCATOR_NAME;
              doc.body.appendChild(iframe);
            } else {
              setTimeout(addFrame, 5);
            }
          }
          return !otherCMP;
        }

        function tcfAPIHandler() {
          var gdprApplies;
          var args = arguments;

          if (!args.length) {
            return queue;
          } else if (args[0] === 'setGdprApplies') {
            if (
              args.length > 3 &&
              args[2] === 2 &&
              typeof args[3] === 'boolean'
            ) {
              gdprApplies = args[3];
              if (typeof args[2] === 'function') {
                args[2]('set', true);
              }
            }
          } else if (args[0] === 'ping') {
            var retr = {
              gdprApplies: gdprApplies,
              cmpLoaded: false,
              cmpStatus: 'stub'
            };

            if (typeof args[2] === 'function') {
              args[2](retr);
            }
          } else {
            if(args[0] === 'init' && typeof args[3] === 'object') {
              args[3] = Object.assign(args[3], { tag_version: 'V3' });
            }
            queue.push(args);
          }
        }

        function postMessageEventHandler(event) {
          var msgIsString = typeof event.data === 'string';
          var json = {};

          try {
            if (msgIsString) {
              json = JSON.parse(event.data);
            } else {
              json = event.data;
            }
          } catch (ignore) {}

          var payload = json.__tcfapiCall;

          if (payload) {
            window.__tcfapi(
              payload.command,
              payload.version,
              function(retValue, success) {
                var returnMsg = {
                  __tcfapiReturn: {
                    returnValue: retValue,
                    success: success,
                    callId: payload.callId
                  }
                };
                if (msgIsString) {
                  returnMsg = JSON.stringify(returnMsg);
                }
                if (event && event.source && event.source.postMessage) {
                  event.source.postMessage(returnMsg, '*');
                }
              },
              payload.parameter
            );
          }
        }

        while (win) {
          try {
            if (win.frames[TCF_LOCATOR_NAME]) {
              cmpFrame = win;
              break;
            }
          } catch (ignore) {}

          if (win === window.top) {
            break;
          }
          win = win.parent;
        }
        if (!cmpFrame) {
          addFrame();
          win.__tcfapi = tcfAPIHandler;
          win.addEventListener('message', postMessageEventHandler, false);
        }
      };

      makeStub();

      function makeGppStub() {
        const CMP_ID = 10;
        const SUPPORTED_APIS = [
          '2:tcfeuv2',
          '6:uspv1',
          '7:usnatv1',
          '8:usca',
          '9:usvav1',
          '10:uscov1',
          '11:usutv1',
          '12:usctv1'
        ];

        window.__gpp_addFrame = function (n) {
          if (!window.frames[n]) {
            if (document.body) {
              var i = document.createElement("iframe");
              i.style.cssText = "display:none";
              i.name = n;
              document.body.appendChild(i);
            } else {
              window.setTimeout(window.__gpp_addFrame, 10, n);
            }
          }
        };
        window.__gpp_stub = function () {
          var b = arguments;
          __gpp.queue = __gpp.queue || [];
          __gpp.events = __gpp.events || [];

          if (!b.length || (b.length == 1 && b[0] == "queue")) {
            return __gpp.queue;
          }

          if (b.length == 1 && b[0] == "events") {
            return __gpp.events;
          }

          var cmd = b[0];
          var clb = b.length > 1 ? b[1] : null;
          var par = b.length > 2 ? b[2] : null;
          if (cmd === "ping") {
            clb(
              {
                gppVersion: "1.1", // must be “Version.Subversion”, current: “1.1”
                cmpStatus: "stub", // possible values: stub, loading, loaded, error
                cmpDisplayStatus: "hidden", // possible values: hidden, visible, disabled
                signalStatus: "not ready", // possible values: not ready, ready
                supportedAPIs: SUPPORTED_APIS, // list of supported APIs
                cmpId: CMP_ID, // IAB assigned CMP ID, may be 0 during stub/loading
                sectionList: [],
                applicableSections: [-1],
                gppString: "",
                parsedSections: {},
              },
              true
            );
          } else if (cmd === "addEventListener") {
            if (!("lastId" in __gpp)) {
              __gpp.lastId = 0;
            }
            __gpp.lastId++;
            var lnr = __gpp.lastId;
            __gpp.events.push({
              id: lnr,
              callback: clb,
              parameter: par,
            });
            clb(
              {
                eventName: "listenerRegistered",
                listenerId: lnr, // Registered ID of the listener
                data: true, // positive signal
                pingData: {
                  gppVersion: "1.1", // must be “Version.Subversion”, current: “1.1”
                  cmpStatus: "stub", // possible values: stub, loading, loaded, error
                  cmpDisplayStatus: "hidden", // possible values: hidden, visible, disabled
                  signalStatus: "not ready", // possible values: not ready, ready
                  supportedAPIs: SUPPORTED_APIS, // list of supported APIs
                  cmpId: CMP_ID, // list of supported APIs
                  sectionList: [],
                  applicableSections: [-1],
                  gppString: "",
                  parsedSections: {},
                },
              },
              true
            );
          } else if (cmd === "removeEventListener") {
            var success = false;
            for (var i = 0; i < __gpp.events.length; i++) {
              if (__gpp.events[i].id == par) {
                __gpp.events.splice(i, 1);
                success = true;
                break;
              }
            }
            clb(
              {
                eventName: "listenerRemoved",
                listenerId: par, // Registered ID of the listener
                data: success, // status info
                pingData: {
                  gppVersion: "1.1", // must be “Version.Subversion”, current: “1.1”
                  cmpStatus: "stub", // possible values: stub, loading, loaded, error
                  cmpDisplayStatus: "hidden", // possible values: hidden, visible, disabled
                  signalStatus: "not ready", // possible values: not ready, ready
                  supportedAPIs: SUPPORTED_APIS, // list of supported APIs
                  cmpId: CMP_ID, // CMP ID
                  sectionList: [],
                  applicableSections: [-1],
                  gppString: "",
                  parsedSections: {},
                },
              },
              true
            );
          } else if (cmd === "hasSection") {
            clb(false, true);
          } else if (cmd === "getSection" || cmd === "getField") {
            clb(null, true);
          }
          //queue all other commands
          else {
            __gpp.queue.push([].slice.apply(b));
          }
        };
        window.__gpp_msghandler = function (event) {
          var msgIsString = typeof event.data === "string";
          try {
            var json = msgIsString ? JSON.parse(event.data) : event.data;
          } catch (e) {
            var json = null;
          }
          if (typeof json === "object" && json !== null && "__gppCall" in json) {
            var i = json.__gppCall;
            window.__gpp(
              i.command,
              function (retValue, success) {
                var returnMsg = {
                  __gppReturn: {
                    returnValue: retValue,
                    success: success,
                    callId: i.callId,
                  },
                };
                event.source.postMessage(msgIsString ? JSON.stringify(returnMsg) : returnMsg, "*");
              },
              "parameter" in i ? i.parameter : null,
              "version" in i ? i.version : "1.1"
            );
          }
        };
        if (!("__gpp" in window) || typeof window.__gpp !== "function") {
          window.__gpp = window.__gpp_stub;
          window.addEventListener("message", window.__gpp_msghandler, false);
          window.__gpp_addFrame("__gppLocator");
        }
      };

      makeGppStub();

      var uspStubFunction = function() {
        var arg = arguments;
        if (typeof window.__uspapi !== uspStubFunction) {
          setTimeout(function() {
            if (typeof window.__uspapi !== 'undefined') {
              window.__uspapi.apply(window.__uspapi, arg);
            }
          }, 500);
        }
      };

      var checkIfUspIsReady = function() {
        uspTries++;
        if (window.__uspapi === uspStubFunction && uspTries < uspTriesLimit) {
          console.warn('USP is not accessible');
        } else {
          clearInterval(uspInterval);
        }
      };

      if (typeof window.__uspapi === 'undefined') {
        window.__uspapi = uspStubFunction;
        var uspInterval = setInterval(checkIfUspIsReady, 6000);
      }
    })();
    </script>
    <!-- End InMobi Choice. Consent Manager Tag v3.0 (for TCF 2.2) -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MKBV3S878F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MKBV3S878F');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Template rendered: {% now "jS F Y H:i:s" %} -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="pgAdmin - PostgreSQL Tools for Windows, Mac, Linux and the Web">
    <meta name="author" content="Dave Page">
    <link rel="icon" href="{% static 'COMPILED/assets/img/favicon.ico' %}">

    <title>{% block title %}{% endblock %}</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .filter-white {
            filter: brightness(0) invert(1);
        }
        .icon-postgres-alt-0 {
            background: url("/static/COMPILED/assets/img/postgres-alt.svg");
            display: inline-block;
            vertical-align: middle;
            font-size: inherit;
            color: #fff;
            height: 1.5em;
            width: 1.5em;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>

    <link rel="stylesheet" href="/static/COMPILED/assets/css/main.css?{{gitrev}}" />

    <script>
        var cb = function () {
            var l = document.createElement('link');
            l.rel = 'stylesheet';
            l.href = '/static/COMPILED/assets/css/main_uncritical.css?{{gitrev}}';
            var h = document.getElementsByTagName('head')[0];
            h.parentNode.insertBefore(l, h);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(cb);
        else window.addEventListener('load', cb);
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="cconsent-curtain"></div>
    <a class="github-fork-ribbon right-bottom fixed" href="https://github.com/pgadmin-org/pgadmin4" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

    <div>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
            <a class="navbar-brand" href="{% url 'index' %}"><div class="icon-postgres-alt-0 filter-white mr-1"></div> pgAdmin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <!-- Home menu -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="category-dropdown">
                            <a class="dropdown-item" href="{% url 'index' %}">Introduction</a>
                            <a class="dropdown-item" href="{% url 'faq' %}">FAQ</a>
                            <a class="dropdown-item" href="{% url 'features' %}">Features</a>
                            <a class="dropdown-item" href="{% url 'news' %}">News Archive</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'contributing' %}">Contributing</a>
                            <a class="dropdown-item" href="{% url 'licence' %}">Licence</a>
                            <a class="dropdown-item" href="{% url 'privacy_policy' %}">Privacy Policy</a>
                        </div>
                    </li>

                    <!-- Development menu -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Development <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="category-dropdown">
                            <a class="dropdown-item" href="{% url 'development_index' %}">Introduction</a>
                            <a class="dropdown-item" href="{% url 'development_resources' %}">Resources</a>
                            <a class="dropdown-item" href="{% url 'styleguide_index' page='typography' %}">Style Guide</a>
                            <a class="dropdown-item" href="{% url 'development_translations' %}">Translations</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'development_team' %}">Team</a>
                        </div>
                    </li>

                    <!-- Documentation menu -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="category-dropdown">
                            <a class="dropdown-item" href="{% url 'docs' %}">Introduction</a>
                            <a class="dropdown-item" href="{% url 'screenshots' %}">Screenshots</a>
                            {%  if 'blogs' in apps %}
                                <a class="dropdown-item" href="{% url 'blogs' %}">Blog Posts</a>
                            {%  endif %}
                            {%  if 'videos' in apps %}
                                <a class="dropdown-item" href="{% url 'videos' %}">Videos</a>
                            {%  endif %}
                            {% regroup docs by version.package.name as doc_list %}
                            {% for doc in doc_list %}
                            <a class="dropdown-header">{{ doc.grouper }}:</a>
                            {% for v in doc.list %}
                            <a class="dropdown-item"
                               href="{% url 'page' v.version.package.slug v.version.slug 'index.html' %}">{{ v.version.list_string }}</a>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </li>

                    <!-- Download menu -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'download_index' %}">Download</a></li>

                    <!-- Support menu -->
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Support <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="category-dropdown">
                            <a class="dropdown-item" href="{% url 'support_index' %}">Introduction</a>
                            <a class="dropdown-item" href="{% url 'support_list' %}">Mailing List</a>
                            <a class="dropdown-item" href="{% url 'support_issues' %}">Issues</a>
                        </div>
                    </li>

                </ul>

                <form class="form-inline my-2 my-lg-0" id="search_button">
                    <button type="button" class="btn btn-default btn-outline-primary" aria-label="Right Align">
                        <span class="fa fa-search fa-lg pga-toolbar-search" aria-hidden="true"></span>
                    </button>
                </form>
                </ul>
            </div>
        </nav>
    </div>

    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}

    <script src="{% static 'COMPILED/webp.js' %}?{{gitrev}}"></script>
    <script src="{% static 'COMPILED/main.js' %}?{{gitrev}}"></script>

    <script>
          $('#search_button').click(function(){

            var $form = '<form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">\
<input name="q" class="form-control mr-sm-2" type="text" placeholder="{% block search_prompt %}Search latest docs{% endblock %}" size="20" aria-label="Search">\
<button class="btn btn-primary my-2 my-sm-0" type="submit"><span class="fa fa-search fa-lg" aria-hidden="true"></span></button>\
{% block search_fields %}{% endblock %}</form>';

            $('#search_button').replaceWith($form);
          });
    </script>

{% block footer %}{% endblock %}

</body>
</html>
