{% extends "pgaweb/page.html" %}

{% block title %}Documentation{% endblock %}

{% block content %}
<h1>Documentation</h1>

<p>The pgAdmin documentation for the current development code, and recent major releases of the application is available
    for online browsing. Please select the documentation version you would like to view from the options below.</p>

<p>The documentation is automatically imported from the pgAdmin <a href="{% url 'development_resources' %}#git">GIT</a>
    source code repository, and is only available in English.</p>

<h2>pgAdmin 4</h2>
<div class="well downloads">
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-book" aria-hidden="true"></i><a href="{% url 'docs' %}pgadmin4/dev/">Development version (GIT head)</a></li>
    <li><i class="fa-li fa fa-book" aria-hidden="true"></i><a href="{% url 'docs' %}pgadmin4/3.x/">Version 3.x</a></li>
    <li><i class="fa-li fa fa-book" aria-hidden="true"></i><a href="{% url 'docs' %}pgadmin4/2.x/">Version 2.x</a></li>
    <li><i class="fa-li fa fa-book" aria-hidden="true"></i><a href="{% url 'docs' %}pgadmin4/1.x/">Version 1.x</a></li>
  </ul>
</div>
<h2>pgAdmin 3</h2>
<div class="well downloads">
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-book" aria-hidden="true"></i><a href="{% url 'docs' %}pgadmin3/1.22/">Version 1.22</a></li>
  </ul>
</div>

{% endblock %}