{% extends "pgaweb/base.html" %}
{% load static %}

{% block title %}pgAdmin - PostgreSQL Tools{% endblock %}

{% block body %}

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 text-center">
                <h1>pgAdmin</h1>
                <h2>PostgreSQL Tools</h2>
                <p class="lead">
                    pgAdmin is the most popular and feature rich Open Source administration and development platform
                    for PostgreSQL, the most advanced Open Source database in the world.
                </p>
                <p>pgAdmin may be used on Linux, Unix, macOS and Windows to manage PostgreSQL and EDB Advanced Server 10 and above.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="pga-illustration">
                    <picture title="Screenshot of pgAdmin">
                        <source type="image/webp" srcset="{% static 'COMPILED/assets/img/screenshot.webp' %}">
                        <source type="image/png" srcset="{% static 'COMPILED/assets/img/screenshot.png' %}">
                        <img src="{% static 'COMPILED/assets/img/screenshot.png' %}" alt="Screenshot of pgAdmin">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="pga-content">
    <div class="container-fluid">
        <div class="row">
            <!-- Action panel -->
            <div class="col-sm-2 pga-sidebar pga-sidebar-left">
                {% include "pgaweb/action.html" %}
            </div>

            <div class="col-sm-8">
                <div class="container-fluid">

                    <!-- Videos -->
                    {% if videos.count %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Latest Videos</h1>
                        </div>
                    </div>
                    <div class="row">
                        {% for video in videos.all %}
                            <div class="col-xs-12 col-md-6 col-xl-4">
                                <div class='video-container'>
                                    <iframe src='https://www.youtube.com/embed/{{ video.youtube_id }}' title='Video: {{ video.title }}' frameborder='0' allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <p class="font-italic">Want to see your pgAdmin video here? Email <a href="mailto:webmaster@pgadmin.org">webmaster@pgadmin.org</a>.</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="font-italic text-right"><a href="{% url 'videos' %}">All videos</a></p>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Blogs -->
                    {% if blogs.count %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Latest Blog Posts</h1>
                            {% for blog in blogs.all %}
                            <h2>{{ blog.title }}</h2>
                            <p><i>Author: {{  blog.author }}, date: {{  blog.date }}</i></p>
                            <p>{{ blog.summary|safe }}</p>
                            <p><a href="{{ blog.url }}">Read more</a> <small><i class="fa fa-external-link-alt"></i></small></p>
                            {% endfor %}

                            <div class="row">
                                <div class="col-sm-9">
                                    <p class="font-italic">Want to see your pgAdmin blog post here? Email <a href="mailto:webmaster@pgadmin.org">webmaster@pgadmin.org</a>.</p>
                                </div>
                                <div class="col-sm-3">
                                    <p class="font-italic text-right"><a href="{% url 'blogs' %}">All blog posts</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- News -->
                    {% if news.count %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>News</h1>
                            {% for article in news.all %}
                            <h2>{{ article.display_date }} - {{ article.title }}</h2>
                            <p>{{ article.content|safe }}</p>
                            {% endfor %}

                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="font-italic text-right"><a href="{% url 'news' %}">All news</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                    <! Version info -->
                    {% if version.version_str != "" %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="well pga-version">
                                <p>The current version of pgAdmin 4 is
                                    <a href="{%  url 'download_index' %}">{{ version.version_str }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <p class="text-center font-italic">
                                    Postgres, PostgreSQL and the Slonik Logo are trademarks or registered
                                    trademarks of the <a href="https://www.postgres.ca">PostgreSQL Community
                                    Association of Canada</a>, and used with their permission.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ad -->
            <div class="col-sm-2 pga-sidebar pga-sidebar-right">
                {% include "pgaweb/ad.html" %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
<script src="{% static 'COMPILED/banner.js' %}?{{gitrev}}"></script>
{% endblock %}
