{% extends "pgaweb/base.html" %}

{% block body %}
<main class="pga-content py-4">
    <div class="container-xxl">
        <div class="row dual-ad-layout">
            <!-- Left Ad Sidebar -->
            <div class="col-lg-2 ad-col ad-col-left">
                <div class="ad-sidebar sticky-top sticky-offset">
                    {% include "pgaweb/ad.html" %}
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-lg-8 page-main-col">
                {% block content %}{% endblock %}
            </div>

            <!-- Right Ad Sidebar -->
            <div class="col-lg-2 ad-col ad-col-right">
                <div class="ad-sidebar sticky-top sticky-offset">
                    {% include "pgaweb/ad.html" %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
