{% extends "pgaweb/page.html" %}
{% load static %}

{% block scripts %}
<!--<link  href="{% static 'node_modules/fotorama/fotorama.css' %}" rel="stylesheet">-->
<!--<script src="{% static 'node_modules/fotorama/fotorama.js' %}"></script>-->

<link  href="{% static 'COMPILED/assets/css/fotorama.css' %}?{{gitrev}}" rel="stylesheet">
<script src="{% static 'COMPILED/fotoramajs.js' %}?{{gitrev}}"></script>

{% endblock %}

{% block title %}Screenshots{% endblock %}

{% block content %}

<h1>Screenshots</h1>

<div class="fotorama"
     data-allowfullscreen="true"
     data-width="100%" data-nav="thumbs"
     data-navposition="top"
     data-hash="true"
     data-keyboard="true"
     data-arrows="true"
     data-click="true"
     data-swipe="true"
     data-loop="true">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-welcome-light.png' %}" alt="Welcome screen, standard theme" data-caption="Welcome screen, standard theme">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-welcome-dark.png' %}" alt="Welcome screen, dark theme" data-caption="Welcome screen, dark theme">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-dashboard.png' %}" alt="Server dashboard" data-caption="Server dashboard">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-activity.png' %}" alt="Activity monitoring" data-caption="Activity monitoring">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-properties.png' %}" alt="Object properties" data-caption="Object properties">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-docking.png' %}" alt="Dockable UI" data-caption="Dockable UI">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-viewdata.png' %}" alt="Query tool & data editor" data-caption="Query tool & data editor">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-geometry.png' %}" alt="Geometry support" data-caption="Geometry support">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-history.png' %}" alt="Query tool history" data-caption="Query tool history">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-explain.png' %}" alt="Graphical EXPLAIN" data-caption="Graphical EXPLAIN">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-debugger.png' %}" alt="Procedural language debugger" data-caption="Procedural language debugger">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-grantwizard.png' %}" alt="Grant wizard" data-caption="Grant wizard">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-backup.png' %}" alt="Backup" data-caption="Backup">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-preferences.png' %}" alt="Preferences" data-caption="Preferences">
  <img src="{% static 'COMPILED/assets/img/screenshots/pgadmin4-search.png' %}" alt="Object search" data-caption="Object search">
</div>
{% endblock %}
