{% extends "pgaweb/page.html" %}
{% load static %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
    <h1>Blog Posts <a href="{% url 'blog_feed' %}"><i class="fas fa-rss-square text-warning" aria-hidden="true"></i></a></h1>

    <p>Want to see your pgAdmin blog post here? Email <a href="mailto:webmaster@pgadmin.org">webmaster@pgadmin.org</a>.</p>

    {%  if blogs.count %}
    {% for blog in blogs.all %}
        <h2><a id="{{ blog.id }}">{{ blog.title }}</a></h2>
    <p><i>Author: {{  blog.author }}, date: {{  blog.date }}</i></p>
    <p>{{ blog.summary|safe }}</p>
    <p><a href="{{ blog.url }}">Read more</a> <small><i class="fas fa-external-link-alt"></i></small></p>
    {% endfor %}
    {% else %}
    <div class="alert alert-info" role="alert">
        No blog posts are currently available. Please check back later!
    </div>
    {% endif %}
{% endblock %}