{% extends 'pgaweb/styleguide/style_theme.html' %}
{% block title %}Styleguide: Tables{% endblock %}
{% block styleguide_content %}
<div class="color-palette">
    <h1 class="styleguide-title" id="colorpalette">Styleguide: Tables</h1>
    <p>
        {% include "pgaweb/styleguide/theme_nav_bar.html" %}
        <!--Add page specific content as per theme selection-->
    <div class="tab-content styleguide-demos" id="themeTabContent" data-theme="light">
        <div class="tab-pane fade show active theme-content theme-content-default"
             id="sdTheme" role="tabpanel" aria-labelledby="sd-tab">
            {% include "pgaweb/styleguide/tables/sd_table.html" %}
        </div>
        <div class="tab-pane fade theme-content  theme-content-default"
             id="drkTheme" role="tabpanel" aria-labelledby="dek-tab">
            {% include "pgaweb/styleguide/tables/dark_table.html" %}
        </div>
        <div class="tab-pane fade theme-content  theme-content-default"
             id="hcTheme" role="tabpanel" aria-labelledby="hc-tab">
            {% include "pgaweb/styleguide/tables/hc_table.html" %}
        </div>
    </div>
    </p>
</div>
{% endblock %}