{% extends "pgaweb/page.html" %}

{% block title %}Download{% endblock %}

{% block content %}
<h1>{{ distribution }}</h1>
<h2>Download</h2>
<p><b>Maintainer:</b> {{ distribution.maintainer }}</p>
{{ distribution.description | safe }}

{% if downloads %}
<div class="well pga-downloads">
  <ul class="fa-ul">
    {% for download in downloads.all %}
    <li><i class="fa-li fa fa-download" aria-hidden="true" style="top: 0.5em;"></i><a href="{{ download.download_url }}">{{ download.version }}</a> (released {{ download.version.released }})</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if distribution.notes != "" %}<h2>Notes</h2>{% endif %}
{{ distribution.notes | safe }}

<p>
  <ul>
    {% for download in downloads.all %}{% if download.notes_url != "" %}
    <li><a href="{{ download.notes_url }}">Release notes</a> ({{ download.version }})</li>
    {% endif %}{% endfor %}
  </ul>
</p>

{% if distributions %}
<h2>Alternative Distributions</h2>
<div class="well">
    <table class="table pga-downloads">
        <tbody>
            <tr class="pga-quicklinks">
                {% for distribution in distributions.all %}
                <td width="{% widthratio 100 distributions.count 1 %}%">
                    <a href="{% url 'download_list' distribution.slug %}"><i class="{{ distribution.icon }}" aria-hidden="true"></i><br />{{ distribution.name }}</a>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}